name: "Concord232"
description: "Concord4 RS232 Integration"
version: "1.0.28"
slug: "concord232"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: before
ports:
  5007/tcp: 5007
devices:
  - /dev/ttyUSB0
  - /dev/ttyUSB1
privileged:
  - NET_ADMIN
  - SYS_RESOURCE
options:
  device: /dev/ttyUSB0
schema:
  device: str