name: "Concord232"
description: "Concord4 RS232 Integration"
version: "1.0.18"
slug: "concord232"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: services
ports:
  5007/tcp: 5007
devices:
  - /dev/ttyUSB0
privileged:
  - NET_ADMIN
  - SYS_RESOURCE